<div id="sidebar" class="active" th:fragment="sidebar">
    <div class="sidebar-wrapper active">
        <div class="sidebar-header">
            <div class="d-flex justify-content-between">
                <div class="logo">
                    <a th:href="@{/}"><img th:src="@{/assets/images/logo/logo.png}" alt="Logo"
                            style="width:70px; height:auto;">
                    </a>
                    NEMA
                </div>
                <div class="toggler">
                    <a href="#" class="sidebar-hide d-xl-none d-block"><i class="bi bi-x bi-middle"></i></a>
                </div>
            </div>
        </div>
        <div class="sidebar-menu">
            <ul class="menu">
                <li class="sidebar-title">Menu</li>
                <li class="sidebar-item  has-sub">
                    <a href="#" class='sidebar-link'>
                        <i class="bi bi-hexagon-fill"></i>
                        <span>Seances</span>
                    </a>
                    <ul class="submenu ">
                        <li class="submenu-item ">
                            <a th:href="@{/seances/liste}">Liste</a>
                        </li>
                    </ul>


                </li>

                <li class="sidebar-item  has-sub">
                    <a href="#" class='sidebar-link'>
                        <i class="bi bi-hexagon-fill"></i>
                        <span>Reservation</span>
                    </a>
                    <ul class="submenu ">
                        <li class="submenu-item ">
                            <a th:href="@{/reservations/liste}">Liste</a>
                        </li>
                    </ul>


                </li>

                <li class="sidebar-item  has-sub">
                    <a href="#" class='sidebar-link'>
                        <i class="bi bi-hexagon-fill"></i>
                        <span>Salle</span>
                    </a>
                    <ul class="submenu ">
                        <li class="submenu-item ">
                            <a th:href="@{/salles/liste}">Liste</a>
                        </li>
                    </ul>


                </li>

                <li class="sidebar-item  has-sub">
                    <a href="#" class='sidebar-link'>
                        <i class="bi bi-hexagon-fill"></i>
                        <span>Clients</span>
                    </a>
                    <ul class="submenu ">
                        <li class="submenu-item ">
                            <a th:href="@{/clients/liste}">Liste</a>
                            <a th:href="@{/clients/saisie}">Saisie</a>
                        </li>
                    </ul>

             

                </li>



            </ul>
        </div>
        <button class="sidebar-toggler btn x"><i data-feather="x"></i></button>
    </div>
</div>